In [1]:
import pandas as pd
import numpy as np

# Read data

XYtr = pd.read_csv('data/XYtr.csv')

In [2]:
XYtr.columns

Index(['id', 'X.sales', 'cdate', 'description', 'version', 'symbol', 'ext',
       'fee1', 'fee2', 'total'],
      dtype='object')

In [3]:
XYtr.dtypes

id              object
X.sales          int64
cdate           object
description     object
version         object
symbol          object
ext             object
fee1           float64
fee2           float64
total          float64
dtype: object

In [4]:
mu = np.mean(XYtr['total'])
mu

9.658152278739658

In [5]:
pred = pd.read_csv('data/pred.csv')

In [6]:
pred.columns

Index(['id', 'total'], dtype='object')

In [7]:
# Predict mean
pred0 = pred.copy()
pred0

                                    id  total
0     7e79f1a9cb10504dd2fc569d84f2a346      0
1     4a2f52a31466509462042dacd3d66de7      0
2     f22f6ec19360a7bcc7e0f6c76912c88b      0
3     6382e9933644b1751511264ec8194ef5      0
4     638c2f2961777b10009d7fdebae561bc      0
...                                ...    ...
6909  62eb6ce056e943070967d8835a204551      0
6910  6a5a9ef25ea4889cef2b14a272ba958c      0
6911  6c8edfdb7aec834d73e4b8d36ec0736d      0
6912  c4618bb91765903dad4451933ee396ea      0
6913  3b665129694904b2024dc7cd8230babe      0

[6914 rows x 2 columns]

In [8]:
pred0['total'] = mu
pred0

                                    id     total
0     7e79f1a9cb10504dd2fc569d84f2a346  9.658152
1     4a2f52a31466509462042dacd3d66de7  9.658152
2     f22f6ec19360a7bcc7e0f6c76912c88b  9.658152
3     6382e9933644b1751511264ec8194ef5  9.658152
4     638c2f2961777b10009d7fdebae561bc  9.658152
...                                ...       ...
6909  62eb6ce056e943070967d8835a204551  9.658152
6910  6a5a9ef25ea4889cef2b14a272ba958c  9.658152
6911  6c8edfdb7aec834d73e4b8d36ec0736d  9.658152
6912  c4618bb91765903dad4451933ee396ea  9.658152
6913  3b665129694904b2024dc7cd8230babe  9.658152

[6914 rows x 2 columns]

In [ ]:
#pred0.to_csv('data/pred0.csv', index = False)

In [9]:
# Convert date to numeric, extract numeric columns
cdate = XYtr['cdate']
cdate

0       2019-04-26
1       2020-10-26
2       2019-04-26
3       2019-04-26
4       2019-04-26
           ...
6909    2020-11-27
6910    2019-04-26
6911    2019-05-08
6912    2021-06-12
6913    2020-10-09
Name: cdate, Length: 6914, dtype: object

In [10]:
XYtr1 = XYtr.copy() # from stackoverflow
# in days from jan 01 1970 to present date but does not include end date in calculation
XYtr1['cdate'] = pd.to_datetime(cdate).values.astype(np.float64)/8.64e+13
XYtr1['cdate']

0       18012.0
1       18561.0
2       18012.0
3       18012.0
4       18012.0
         ...
6909    18593.0
6910    18012.0
6911    18024.0
6912    18790.0
6913    18544.0
Name: cdate, Length: 6914, dtype: float64

In [11]:
Ytr1 = XYtr1['total'].copy()
Xtr1 = XYtr1[['X.sales', 'cdate', 'fee1', 'fee2']].copy()

In [12]:
Xtr1

      X.sales    cdate    fee1    fee2
0           1  18012.0   250.0   500.0
1          42  18561.0   250.0   500.0
2           3  18012.0   750.0  1000.0
3           4  18012.0   750.0  1000.0
4           1  18012.0   300.0   550.0
...       ...      ...     ...     ...
6909        3  18593.0   750.0  1000.0
6910        2  18012.0   750.0  1000.0
6911        2  18024.0     0.0   250.0
6912        2  18790.0   200.0   450.0
6913        4  18544.0  1000.0  1250.0

[6914 rows x 4 columns]

In [13]:
Ytr1

0        0.055
1       75.000
2        0.158
3        1.990
4        1.000
         ...
6909     0.550
6910     0.100
6911     0.966
6912     0.170
6913     0.100
Name: total, Length: 6914, dtype: float64

In [14]:
print(Ytr1[0])
print(XYtr1.iloc[0, -1])
Ytr1[0] = 0
print(Ytr1[0])
print(XYtr1.iloc[0, -1])

0.055
0.055
0.0
0.055

In [15]:
Xtr1.dtypes

X.sales      int64
cdate      float64
fee1       float64
fee2       float64
dtype: object

In [16]:
Xtr1 = Xtr1.astype(np.float64)

In [17]:
Xtr1.dtypes

X.sales    float64
cdate      float64
fee1       float64
fee2       float64
dtype: object

In [18]:
Xtr1 = Xtr1.fillna(0)

In [19]:
# Linear regression

from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(Xtr1, Ytr1)

In [ ]:
#model1 = LinearRegression().fit(Xtr1, Ytr1)

In [20]:
Xte = pd.read_csv('data/Xte.csv')

In [21]:
Xte1 = Xte.copy()
Xte1['cdate'] = pd.to_datetime(Xte1['cdate']).values.astype(np.float64)/8.64e+13

In [22]:
Xte1 = Xte1[['X.sales', 'cdate', 'fee1', 'fee2']].copy()

In [23]:
Xte1.dtypes

X.sales      int64
cdate      float64
fee1       float64
fee2       float64
dtype: object

In [24]:
Xte1 = Xte1.astype(np.float64)

In [25]:
Xte1 = Xte1.fillna(0)

In [26]:
pred1 = pred0.copy()
pred1['total'] = model.predict(Xte1)

In [28]:
#pred1.to_csv('data/pred1.csv', index = False)

In [ ]:
mu2 = np.median(XYtr['total'])
pred2 = pred0.copy()
pred2['total'] = mu2
pred2.to_csv('data/pred2.csv', index = False)

In [29]:
# https://datascience.stackexchange.com/questions/37941/what-is-the-difference-between-sgd-classifier-and-the-logisitc-regression
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Xtr3 = scaler.fit_transform(Xtr1)
Xte3 = scaler.transform(Xte1)

In [30]:
# https://datascience.stackexchange.com/questions/37941/what-is-the-difference-between-sgd-classifier-and-the-logisitc-regression
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
from sklearn.linear_model import SGDRegressor
model3 = SGDRegressor(loss = 'epsilon_insensitive', alpha = 0, epsilon = 0).fit(Xtr3, Ytr1)

In [31]:
pred3 = pred0.copy()
pred3['total'] = model3.predict(Xte3)
#pred3.to_csv('data/pred3.csv', index = False)

In [32]:
pred3

                                    id     total
0     7e79f1a9cb10504dd2fc569d84f2a346  0.101528
1     4a2f52a31466509462042dacd3d66de7  0.083324
2     f22f6ec19360a7bcc7e0f6c76912c88b  0.051799
3     6382e9933644b1751511264ec8194ef5  0.074719
4     638c2f2961777b10009d7fdebae561bc  0.083324
...                                ...       ...
6909  62eb6ce056e943070967d8835a204551  0.235460
6910  6a5a9ef25ea4889cef2b14a272ba958c  0.040783
6911  6c8edfdb7aec834d73e4b8d36ec0736d  0.168408
6912  c4618bb91765903dad4451933ee396ea  0.083324
6913  3b665129694904b2024dc7cd8230babe  0.168314

[6914 rows x 2 columns]

In [33]:
np.mean(Xtr3[:,1])

5.842400134214882e-16